/*----------------
       Fonts
-----------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E5E5E5;
}
/*--------------------
    Header Section
---------------------*/
/* NavBar */
.nav-bar-fonts{
    color: #3E3E3E;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 22px;
}
.menu-fonts{
    color: #3E3E3E;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

/*--------------------
    Main Section
---------------------*/
/* Frequently Asked Questions */
.question-fonts{
    color:#222221;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 38px;
}
.btn-colors{
    color:#383838;
    font-weight: 500;
    font-size: 20px;
}

/*--------------------
    Footer Section
---------------------*/
.footer{
    background-color: #0B0D17;
    /* height: 280px; */
}
.footer-fonts{
    color: #D9DBE1;
    font-size: 14px;
}
.app-fonts{
    color: #D9DBE1;
    font-weight: 500;
    font-size: 18px;
}
